Src/TestResults/**/*
Build/**/*
bin/
obj/
App_Data
last-test
*.log
*.dia~
*.dia
*.user
*.suo
*.pdb
*.xml
*.XML
*.nupkg
*.cache
*.Cache
*.force
*.baml
*.resources
*.tlog
*.manifest
*.trx
Thumbs.db
Package/Binaries/
Package/Sources/
packages
*.exe
*.docstates
