@{
    Layout = "sitelayout.cshtml";
    Model.Title = "Nancy and F# - like peanut butter and honey";
}

@Model.Message
<br />
<br />
@Model.Time
<br />
<form method="post">
    <input type="text" name="userMessage" id="userMessage" value="" />
    <input type="submit" value="Submit" />
</form>
<br />
@Model.UrlMessage